
/* --------- LAYOUT ---------*/

.fullpage {
  background-color:#FFDCD8;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  color: #002DFB;
  background-color:#FFDCD8;
}

.mobile-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-top: 1.5rem;
}

.info {
  text-align: left;
  margin-bottom: 1rem;
}


.sectionmargin {
  margin: 1rem 1.5rem 0 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr;
  grid-gap:3rem;
  grid-template-areas:
    ". .";
  margin: 2.5rem;
}


.grid-container-mobile {

}

.center-container {
  text-align: center;
  margin-top: 1rem;
}

#footer {
  background-color: #DBB67C;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

.left-align {
  margin: 1rem 2.5rem 3.5rem 2.5rem;
  text-align: left;
}


.desktop-break {
  display: none;
}


.margin-text {
    margin-top: 2rem;
}

.container-members {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* --------- FONTS --------- */
p {
  font-size: 0.8rem;
}
h1 {
  font-family: 'Anton', sans-serif;
  line-height: 2.6rem;
}

h2 {
  font-family: 'Anton', sans-serif;
  line-height: 2.8rem;
  font-size: 2.5rem;
  color: white;
}

h5 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 0.85rem;
  margin-bottom: 0.8rem;

}

.smaller-info p {
  font-size: 2.2vw;
  margin-bottom: 0.7rem;
}

.medium-info p {
  font-size: 2.6vw;
  margin-bottom: 0.8rem;
}

a {
  color: #002DFB;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}


/* --------- IMAGES --------- */


.snailimg {
  display: none;
}


.absoluteposition {
  position: absolute;
  left: 15vw;
  margin-top: -25%;

}

.lrc {
  width: 30vw;
  height: auto;
  position: absolute;
  right:  7vw;
  margin-top: -10%;
}

.noma {
 width: 25vw;
 margin-bottom:0.3rem;
}

#countdown {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #1D1D1B;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1.2rem 15rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 50%;
  display: block;
  margin: 4rem auto 2.5rem auto;
}

.logo-members {
  width: 50%;
  display: block;
}

.info {
  color:#002DFB;
  text-align: center;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.members-btn {
  border: solid 1px white;
  border-radius: 30px;
  padding: 0 2rem;
  color: white;
}

.active {
  background-color: white;
  color: black;
}

.blue-border {
  border-bottom: 1px solid #002DFB;
}

.event {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin: 2rem 0;
}

.signup-btn {
  border-radius: 30px;
  padding: 0.5rem 2rem;
  background-color: #002DFB;
  color: white;
  text-align: center;
  margin-top: 2rem;
}

.signup-btn:hover {
  background-color: white;
  color:#002DFB;
}

#mailchimp {
  text-align: center;
  margin-top: 3.5rem;
  cursor: pointer !important;
}
  #mailchimp input {
    border: 1px solid white ;
    color: #002DFB !important;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
    padding: 8px 10px;
    width: 250px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-appearance: none;
  }
    #mailchimp input.email {background: transparent;}
    #mailchimp input.password {background: transparent; width: 480px; margin-bottom: 9rem;}
    #mailchimp input::placeholder {color:#002DFB;}
    #mailchimp input.name { background: #fff}
    #mailchimp input[type="submit"] {
      background:  #fff;
      color: #002DFB;
      cursor: pointer;
      font-size: 11px;
      width: 18%;
      padding: 8px 0;
      -webkit-appearance: none;
    }
      #mailchimp input[type="submit"]:hover { color: #F2C94C }


@media only screen and (max-width: 900px) {
  .grid-container-mobile {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap:3rem;
    grid-template-areas:
      ". .";
    margin: 0.8rem 2.5rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 3rem;
    grid-template-areas: ". .";
    margin: 2.5rem;
  }

  .footer-margins {
  margin: 2rem 2.5rem !important;
  }

  #svg {
    display: none;
  }

  #countdown {
    padding: 1rem 1rem;
  }
  .container-members {
    width: 70%;
  }

  .event {
    display: block;
  }

  .title-date {
    margin-bottom: 1.5rem;
  }

  .smaller-info {
    text-align: left;
  }

  .logo-members {
    width: 65%;
    display: block;
    margin: 4rem auto 2.5rem auto;
  }
  .bottom-info {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
  }

  #mailchimp input.password {background: transparent; width: 280px; margin-bottom: 10px}
}


@media only screen and (min-width: 900px) {

  /* --------- LAYOUT --------- */
  .bottom-info {
    display: flex;
    justify-content: space-between;
    margin: 1rem 8rem;
  }

  .mobile-flex {
    display: block;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 100%;
  }

  .break {
    display: none;
  }

  .sectionmargin {
    margin: 0;
  }

  .grid-container {
    margin: 15vh 10vw 0 10vw;
  }

  .grid-container-mobile {
    display: block;
    float: right;
    margin-top: 35vh;
  }

  .desktop-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap:3rem;
    grid-template-areas:
      ". .";
    margin: 0 10vw 15vh 6vw;

  }

  .mobile {
    display: none
  }

  .desktop {
    margin-top: 1.5rem;
    display: block
  }

  .desktop-break {
    display: block;
  }

  .desktop-margin {

  }

  .left-align {
    margin: 5vh 10vw ;
  }

  hr {
    margin: 0 6vw;
  }

  #footer {
    margin-top: 10%;
  }

  .margin-text {
    margin-top: 5rem;
  }
  /* --------- FONTS --------- */

  p {
   font-size: 1.8vw;
   line-height: 2.5vw;
  }

  h2 {
    font-size: 5vw;
    line-height: 7vw;
    color: white;
  }

  h1 {
    font-size: 7vw;
    line-height: 7vw;
  }

  h5 {
    font-size: 1.8vw;
    margin-bottom: 2vw;
  }

  .smaller-info {
    font-size: 1.5vw;
    margin-bottom: 2vw;
    text-align: left;
  }

  .medium-info p {
    font-size: 1.7vw;
  }

  /* --------- IMAGES --------- */


  .snailimg {
    display: block;
    width: 25vw;
  }

  .absoluteposition {
    position: absolute;
    left: 15vw;
    margin-top: -5%;
    width: 17vw !important;

  }

  .lrc {
    width: 17vw;
    right:  18vw;
    margin-top: 0.5%;
  }

  .noma {
    width: 12vw;
  }


  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;

  }

  .info {
    text-align: left;
    font-size: 3vw;
  }

  .launching {
    margin-top: 0;
  }

  .logo {
    width: 25%;
    margin: 0;
    margin-right: 7em;
  }

  .logo-members {
    width: 40%;
    margin: 3rem auto;
  }

  #mailchimp .mc-field-group,
  #mailchimp .clear {
     display: inline-block;
  }
  #mailchimp input {width: 320px; font-size: 15px;}
  #mailchimp input[type="submit"]{width: 150%; font-size: 15px;}

  #mailchimp {
  text-align: left;
  margin-top: 2rem;
  }

}

@media only screen and (min-width: 1920px) {
  .mobileenterbutton p{
    font-size: 1.5vw;
  }

  button:before {
    font-size: 1.5vw;
  }

  #countdown {
    font-size: 1.2vw;
  }

  .flagimg {
    width: 49vw;
    height: 48vw
  }

}

@media only screen and (min-width: 2000px) {
   .info {
        font-size: 3.5em;
        margin-right: 15rem;
   }
   .logo {
        width: 20%;
        margin-right:15rem;
    }

    .logo-members {
        width: 20%;
    }
    #mailchimp input {width: 620px; font-size: 20px;}
    #mailchimp input[type="submit"]{font-size: 20px;}

}
